.book-auction673254-container {
  min-height: 100vh;
}
.book-auction673254-book-auction673254 {
  width: 428px;
  height: 1193px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 428px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.book-auction673254-image {
  top: 36px;
  left: 357px;
  width: 60px;
  height: 60px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.book-auction673254-svg {
  top: 423px;
  left: 0px;
  width: 428;
  height: 4px;
  position: absolute;
}
.book-auction673254-svg1 {
  top: 175px;
  left: 0px;
  width: 428;
  height: 4px;
  position: absolute;
}
.book-auction673254-svg2 {
  top: 897px;
  left: 0px;
  width: 284;
  height: 4px;
  position: absolute;
}
.book-auction673254-svg3 {
  top: 660px;
  left: 0px;
  width: 428;
  height: 4px;
  position: absolute;
}
.book-auction673254-group4673260 {
  top: 199px;
  left: 39px;
  width: 369px;
  height: 212.5px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.book-auction673254-image1 {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 213px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.book-auction673254-text {
  top: 10px;
  left: 166px;
  color: rgba(255, 255, 255, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.book-auction673254-text01 {
  color: rgba(255, 255, 255, 1);
  width: 203px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.book-auction673254-group3673263 {
  top: 436px;
  left: 39px;
  width: 378px;
  height: 212.5px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.book-auction673254-image2 {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 213px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.book-auction673254-text09 {
  top: 32px;
  left: 175px;
  color: rgba(255, 255, 255, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.book-auction673254-text10 {
  color: rgba(255, 255, 255, 1);
  width: 203px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.book-auction673254-group2673266 {
  top: 673px;
  left: 39px;
  width: 369px;
  height: 212.5px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.book-auction673254-image3 {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 213px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.book-auction673254-text16 {
  top: 11px;
  left: 166px;
  color: rgba(255, 255, 255, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.book-auction673254-text17 {
  color: rgba(255, 255, 255, 1);
  width: 203px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.book-auction673254-group1673269 {
  top: 918px;
  left: 39px;
  width: 369px;
  height: 212.5px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.book-auction673254-image4 {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 213px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.book-auction673254-image5 {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 213px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.book-auction673254-text25 {
  top: 12px;
  left: 166px;
  color: rgba(255, 255, 255, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.book-auction673254-text26 {
  color: rgba(255, 255, 255, 1);
  width: 203px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.book-auction673254-text34 {
  top: 107px;
  left: 108px;
  color: rgba(255, 255, 255, 1);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.book-auction673254-text35 {
  color: rgba(255, 255, 255, 1);
  width: 222px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.book-auction673254-image6 {
  top: 36px;
  left: 17px;
  width: 60px;
  height: 60px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
