.cabin-fever673228-container {
  min-height: 100vh;
}
.cabin-fever673228-cabin-fever673228 {
  width: 428px;
  height: 926px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 428px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.cabin-fever673228-image {
  top: 29px;
  left: 12px;
  width: 60px;
  height: 60px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.cabin-fever673228-text {
  top: 544px;
  left: 71px;
  color: rgba(255, 255, 255, 1);
  width: 290px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cabin-fever673228-text01 {
  color: rgba(255, 255, 255, 1);
  width: 290px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.cabin-fever673228-text05 {
  top: 637px;
  left: 83px;
  color: rgba(255, 255, 255, 1);
  width: 262px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cabin-fever673228-text06 {
  color: rgba(255, 255, 255, 1);
  width: 262px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.cabin-fever673228-text07 {
  top: 690px;
  left: 83px;
  color: rgba(255, 255, 255, 1);
  width: 236px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cabin-fever673228-text08 {
  color: rgba(255, 255, 255, 1);
  width: 236px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.cabin-fever673228-image1 {
  top: 199px;
  left: 139px;
  width: 150px;
  height: 213px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.cabin-fever673228-image2 {
  top: 111px;
  left: 64px;
  width: 284px;
  height: 414px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.cabin-fever673228-svg {
  top: 760px;
  left: 84px;
  width: 265;
  height: 82;
  position: absolute;
}
.cabin-fever673228-text09 {
  top: 780px;
  left: 116px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cabin-fever673228-text10 {
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
