.harry-potter673212-container {
  min-height: 100vh;
}
.harry-potter673212-harry-potter673212 {
  width: 428px;
  height: 926px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 428px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.harry-potter673212-image {
  top: 106px;
  left: 74px;
  width: 280px;
  height: 420px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.harry-potter673212-text {
  top: 547px;
  left: 41px;
  color: rgba(255, 255, 255, 1);
  width: 347px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.harry-potter673212-text01 {
  color: rgba(255, 255, 255, 1);
  width: 347px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.harry-potter673212-image1 {
  top: 34px;
  left: 14px;
  width: 60px;
  height: 60px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.harry-potter673212-text05 {
  top: 633px;
  left: 85px;
  color: rgba(255, 255, 255, 1);
  width: 264px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.harry-potter673212-text06 {
  color: rgba(255, 255, 255, 1);
  width: 264px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.harry-potter673212-text07 {
  top: 686px;
  left: 85px;
  color: rgba(255, 255, 255, 1);
  width: 228px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.harry-potter673212-text08 {
  color: rgba(255, 255, 255, 1);
  width: 228px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.harry-potter673212-svg {
  top: 760px;
  left: 84px;
  width: 265;
  height: 82;
  position: absolute;
}
.harry-potter673212-text09 {
  top: 780px;
  left: 116px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.harry-potter673212-text10 {
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
