.home-screen673237-container {
  min-height: 100vh;
}
.home-screen673237-home-screen673237 {
  width: 428px;
  height: 926px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 428px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.home-screen673237-text {
  top: 858px;
  left: 138px;
  color: rgba(255, 255, 255, 1);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-screen673237-text01 {
  color: rgba(255, 255, 255, 1);
  width: 73px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.home-screen673237-text02 {
  top: 856px;
  left: 254px;
  color: rgba(255, 255, 255, 1);
  width: 33px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-screen673237-text03 {
  color: rgba(255, 255, 255, 1);
  width: 33px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.home-screen673237-text04 {
  top: 856px;
  left: 342px;
  color: rgba(255, 255, 255, 1);
  width: 50px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-screen673237-text05 {
  color: rgba(255, 255, 255, 1);
  width: 50px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.home-screen673237-text06 {
  top: 859px;
  left: 27px;
  color: rgba(255, 255, 255, 1);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-screen673237-text07 {
  color: rgba(255, 255, 255, 1);
  width: 81px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.home-screen673237-clickonanyappbelowheretoaccessthefeatures673242 {
  top: 161px;
  left: 27px;
  width: 374px;
  height: 75px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.home-screen673237-text08 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 374px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-screen673237-text09 {
  color: rgba(255, 255, 255, 1);
  width: 374px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.home-screen673237-navlink {
  display: contents;
}
.home-screen673237-image {
  top: 786px;
  left: 144px;
  width: 60px;
  height: 60px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.home-screen673237-text10 {
  top: 44px;
  left: 112px;
  color: rgba(255, 255, 255, 1);
  width: 204px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-screen673237-text11 {
  color: rgba(255, 255, 255, 1);
  width: 204px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.home-screen673237-image1 {
  top: 786px;
  left: 37px;
  width: 60px;
  height: 60px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.home-screen673237-navlink1 {
  display: contents;
}
.home-screen673237-image2 {
  top: 783px;
  left: 241px;
  width: 60px;
  height: 60px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.home-screen673237-navlink2 {
  display: contents;
}
.home-screen673237-image3 {
  top: 783px;
  left: 337px;
  width: 60px;
  height: 60px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.home-screen673237-image4 {
  top: 14px;
  left: 6px;
  width: 30px;
  height: 30px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
