.meltdown673142-container {
  min-height: 100vh;
}
.meltdown673142-meltdown673142 {
  width: 428px;
  height: 926px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 428px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.meltdown673142-text {
  top: 547px;
  left: 41px;
  color: rgba(255, 255, 255, 1);
  width: 347px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.meltdown673142-text01 {
  color: rgba(255, 255, 255, 1);
  width: 347px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.meltdown673142-text02 {
  top: 586px;
  left: 119px;
  color: rgba(255, 255, 255, 1);
  width: 191px;
  height: auto;
  position: absolute;
  font-size: 29px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.meltdown673142-text03 {
  color: rgba(255, 255, 255, 1);
  width: 191px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.meltdown673142-image {
  top: 109px;
  left: 74px;
  width: 275px;
  height: 410px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.meltdown673142-image1 {
  top: 34px;
  left: 14px;
  width: 60px;
  height: 60px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.meltdown673142-svg {
  top: 757px;
  left: 84px;
  width: 265;
  height: 82;
  position: absolute;
}
.meltdown673142-text04 {
  top: 780px;
  left: 116px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.meltdown673142-text05 {
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.meltdown673142-text06 {
  top: 641px;
  left: 58px;
  color: rgba(255, 255, 255, 1);
  width: 316px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.meltdown673142-text07 {
  color: rgba(255, 255, 255, 1);
  width: 316px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.meltdown673142-text08 {
  top: 696px;
  left: 58px;
  color: rgba(255, 255, 255, 1);
  width: 247px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.meltdown673142-text09 {
  color: rgba(255, 255, 255, 1);
  width: 247px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
