.public-speaking673121-container {
  min-height: 100vh;
}
.public-speaking673121-public-speaking673121 {
  width: 428px;
  height: 1818px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 428px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.public-speaking673121-image {
  top: 1697px;
  left: 80px;
  width: 241px;
  height: 80px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.public-speaking673121-image1 {
  top: 1099px;
  left: 23px;
  width: 40px;
  height: 40px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.public-speaking673121-image2 {
  top: 1193px;
  left: 23px;
  width: 40px;
  height: 40px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.public-speaking673121-image3 {
  top: 1287px;
  left: 23px;
  width: 40px;
  height: 40px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.public-speaking673121-image4 {
  top: 1381px;
  left: 23px;
  width: 40px;
  height: 40px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.public-speaking673121-image5 {
  top: 1483px;
  left: 23px;
  width: 40px;
  height: 40px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.public-speaking673121-image6 {
  top: 1563px;
  left: 23px;
  width: 40px;
  height: 40px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.public-speaking673121-text {
  top: 772px;
  left: 49px;
  color: rgba(255, 255, 255, 1);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-text01 {
  color: rgba(255, 255, 255, 1);
  width: 302px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-image7 {
  top: 859px;
  left: 175px;
  width: 50px;
  height: 50px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.public-speaking673121-text02 {
  top: 981px;
  left: 84px;
  color: rgba(255, 255, 255, 1);
  width: 232px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-text03 {
  color: rgba(255, 255, 255, 1);
  width: 232px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-text04 {
  top: 1099px;
  left: 73px;
  color: rgba(255, 255, 255, 1);
  width: 297px;
  height: auto;
  position: absolute;
  font-size: 27.5px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-text05 {
  color: rgba(255, 255, 255, 1);
  width: 297px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-text06 {
  top: 1183px;
  left: 73px;
  color: rgba(255, 255, 255, 1);
  width: 306px;
  height: auto;
  position: absolute;
  font-size: 27.5px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-text07 {
  color: rgba(255, 255, 255, 1);
  width: 306px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-text08 {
  top: 1374px;
  left: 77px;
  color: rgba(255, 255, 255, 1);
  width: 329px;
  height: auto;
  position: absolute;
  font-size: 27.5px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-text09 {
  color: rgba(255, 255, 255, 1);
  width: 329px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-text10 {
  top: 1282px;
  left: 73px;
  color: rgba(255, 255, 255, 1);
  width: 297px;
  height: auto;
  position: absolute;
  font-size: 27.5px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-text11 {
  color: rgba(255, 255, 255, 1);
  width: 297px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-text12 {
  top: 1549px;
  left: 77px;
  color: rgba(255, 255, 255, 1);
  width: 257px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-text13 {
  color: rgba(255, 255, 255, 1);
  width: 257px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-text14 {
  top: 1469px;
  left: 77px;
  color: rgba(255, 255, 255, 1);
  width: 318px;
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-text15 {
  color: rgba(255, 255, 255, 1);
  width: 318px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-text16 {
  top: 163px;
  left: 75px;
  color: rgba(255, 255, 255, 1);
  width: 250px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-text17 {
  color: rgba(255, 255, 255, 1);
  width: 250px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-text18 {
  top: 247px;
  left: 45px;
  color: rgba(255, 255, 255, 1);
  width: 310px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-text19 {
  color: rgba(255, 255, 255, 1);
  width: 310px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.public-speaking673121-image8 {
  top: 34px;
  left: 15px;
  width: 60px;
  height: 60px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
